.ikc-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $light;
}

.placeholder {
    justify-content: center !important;
    
    svg {
        width: 200px;
        height: 200px;
    }

    p {
        padding: 5px 0;
        margin: 0;
    }
}